#hide, #hide-me{
    background-color: green;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    width: 300px;
    height: 50px;
    font-size: 30px;
    padding-top: 5px;
    border-radius: 5px;
    margin-left: 35%;
    cursor: pointer;
}

#hide-me{
    background-color: rgb(236, 59, 59);
    color: white;
    margin-top: 100px;
}
.toggle, .toggle.active{
    background-color: green;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    width: 200px;
    height: 50px;
    font-size: 30px;
    padding-top: 5px;
    border-radius: 5px;
    margin-left: 40%;
    cursor: pointer;
}
.toggle.active {
    background-color: red;
}
.number1, .number2, .number3, .number4, .group-one, .group-two, .group-three, .group-four{
   height: 100px;
   width: 100px;
   color: white;
   background-color: aqua;
   margin: 20px;
   text-align: center;
   padding: 35px;
   font-size: 40px;
   font-weight: bold;
   display: inline-block;
   justify-content: flex-start;
}
.group-one, .group-two, .group-three, .group-four{
   background-color: green;
   height: 35px;
   font-size: 18px;
   font-weight: bold;
   cursor: pointer;
}
 
.group-one:hover, .group-two:hover, .group-three:hover, .group-four:hover{
   background-color:red;
   height: 45px;
   font-size: 23px;
   font-weight: bold;
   cursor: pointer;
}
.hidden{
   display: none;
}

